<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>
<div >
    <table  th:each="job : ${jobs}" id="jobListTables" >

        <tr>
            <td class="col-4">ID</td>
            <td class="col-8"id="jobRows"th:text="${job.getId}"></td>
        </tr>
        <tr>
            <td class="col-4">Name</td>
            <td id="jobRows" th:text="${job.getName}"></td>
        </tr>
        <tr>
            <td class="col-4">Employer</td>
            <td id="jobRows" th:text="${job.getEmployer}"></td>
        </tr>
        <tr>
            <td class="col-4">Location</td>
            <td id="jobRows" th:text="${job.Location}"></td>
        </tr>
        <tr>
            <td class="col-4">Position</td>
            <td id="jobRows" th:text="${job.getPositionType}"></td>
        </tr>
        <tr>
            <td class="col-4">Skill</td>
            <td id="jobRows" th:text="${job.getCoreCompetency}"></td>
        </tr>

</table>

</div>
</div>

</body>
</html>