<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/">
<head th:replace="fragments :: head">
</head>
<body>

<div th:replace="fragments :: page-header"></div>

<div class="container body-content">

    <h1 th:text="${#strings.capitalizeWords(title)}"></h1>

    <form th:action="@{/search/results}" method = "post">
        <h2>Search by:</h2>

        <p>
            <span th:each="column : ${columns}">
                <input
                        type="radio"
                        name="searchType"
                        th:id="${column.key}"
                        th:value="${column.key}"
                        th:checked="${column.key == 'all'}"/>
                <label th:for="${column.key}" th:text="${column.value}"></label>
            </span>

        </p>

        <p>
            <label for="searchTerm">Keyword:</label>
            <input type="text" name="searchTerm" id="searchTerm" />
        </p>

        <input type="submit" value="Search" />
    </form>

    <hr />
    <table  th:each="job : ${jobs}" id="searchResultTable" >

        <tr>
            <td class="col-4">ID</td>
            <td class="col-8"id="searchRows"th:text="${job.getId}"></td>
        </tr>
        <tr>
            <td class="col-4">Name</td>
            <td id="searchRows" th:text="${job.getName}"></td>
        </tr>
        <tr>
            <td class="col-4">Employer</td>
            <td id="searchRows" th:text="${job.getEmployer}"></td>
        </tr>
        <tr>
            <td class="col-4">Location</td>
            <td id="searchRows" th:text="${job.getLocation}"></td>
        </tr>
        <tr>
            <td class="col-4">Position</td>
            <td id="searchRows" th:text="${job.getPositionType}"></td>
        </tr>
        <tr>
            <td class="col-4">Skill</td>
            <td id="searchRows" th:text="${job.getCoreCompetency}"></td>
        </tr>

    </table>

</div>

</body>
</html>